[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons/
[submodule "NightmareUI"]
	path = NightmareUI
	url = https://github.com/NightmareXIV/NightmareUI
[submodule "ECommons.IPC"]
	path = ECommons.IPC
	url = https://github.com/NightmareXIV/ECommons.IPC
